*,
*::after,
*::before {
  box-sizing: border-box;
}

body {
  padding: 0;
  margin: 0;
  background-color: #1f2937;
  font-family: Inter, sans-serif;
  height: 100%;
  overflow: hidden;
}

.container {
  display: grid;
  grid-template-rows: auto auto 1fr;
  grid-template-columns: repeat(5, 1fr);
  min-height: 100vh; /* Using min-height prevents content overflow, allowing element to expand beyond viewport height if needed */
}
.navbar {
  display: grid;
  grid-template-columns: 1fr auto;
  align-items: center;
  color: wheat;
  grid-column: span 5;
  padding: 0.5em 1em;
}

.navbar h2 {
  margin-left: 1em;
  white-space: nowrap;
}
.navbar button {
  margin-right: 1em;
}

#colour-picker-form {
  padding: 1.5em 0.875em;
  background-color: #1f2937;
  display: flex;
  gap: 0.75em;
  justify-content: center;
  align-items: center;
  grid-row: 2;
  grid-column: span 5;
  margin: 0;
}
.btn {
  border: 1px solid #d1d5db;
  outline: none;
  padding: 0.8125em 0.6875em;
  border-radius: 0.5em;
  cursor: pointer;
  font-size: 0.75rem;
  font-weight: 500;
  white-space: nowrap;
  color: #374151;
}

#option-box {
  border-radius: 0.375em;
  padding: 10px;
  border: none;
  width: 100%;
}

#option-box:hover,
#option-box:focus {
  outline: none;
}

.input-color {
  width: 5.75em;
  height: 2.625em;
  border: 3px solid #d1d5db;
}

.btn:hover,
.btn:focus {
  outline: none;
}

.colour-column {
  display: grid;
  grid-template-rows: 1fr auto;
  cursor: pointer;
  transition: filter 0.5s ease-in-out;
}

.colour-column > p {
  text-align: center;

  color: #fff;
  font-size: 0.75rem;
  font-weight: 500;
}
.colour-column:hover {
  scale: 1.02;
  border: 2px solid black;
}
.colour-column:active {
  filter: brightness(0.6);
}

#colour-1 {
  background-color: #fff;
}

#colour-2 {
  background-color: #fff;
}

#colour-3 {
  background-color: #fff;
}

#colour-4 {
  background-color: #fff;
}

#colour-5 {
  background-color: #fff;
}
.copy-message {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(165, 236, 0, 0.7);
  color: #fff;
  padding: 0.8em 1.6em;
  border-radius: 4px;
  font-size: 1.2rem;
  z-index: 1;
}

.toggle-mode {
  margin: 0.5em;
  background-color: #1f2937;
  padding: 0.5em 1.5em;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #d1d5db;
  width: 20%;
}

[data-theme="light"] {
  body {
    background-color: #fff;
  }
  #colour-picker-form {
    background-color: #fff;
  }
  .toggle-mode {
    background-color: #fff;
    border: 1px solid tan;
  }
  .colour-column > p {
    color: #1f2937;
  }
  #option-box {
    border: 3px solid #d1d5db;
  }
  .navbar {
    color: #1f2937;
  }
}

@media (max-width: 500px) {
  .copy-message {
    font-size: 0.8rem;
    white-space: nowrap;
  }
  .navbar h2 {
    margin-left: 0.3em;
  }
  body {
    overflow-y: scroll;
  }
}
